@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}body{
    font-family: 'Quicksand', sans-serif;
}.total_items_navbar{
    border-radius: 50%;
    width: 60px !important;
    height: 60px !important;
}
span.badge{
    border-radius: 50%;
    position: relative;
    top: -81px;
    left: 9px;
    min-width: 1.4rem !important;
}@media(max-width:600px){
    span.badge{
        top:-72px;
    }
}